*~
*.o
.deps
.libs
.version
.*.swp
*.gcda
*.gcno
*.gdb
core
.gdbinit
.gdb_history

/ChangeLog
/CREDITS

Makefile
Makefile.in

/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/stamp-h1

/*.gdb
/strace
/test-driver

/ioctls_all[012].h
/ioctlsort[012]

/strace-*.tar.xz

/tests-m32
/tests-mx32

/libmpers-m32.a
/libmpers-mx32.a
/mpers-m32
/mpers-m32.stamp
/mpers-mx32
/mpers-mx32.stamp
/mpers.am
/*.mpers.i
